<ion-header>
  <ion-toolbar>
    <ion-title>
      Pickup Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" [(ngModel)]="customerName"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-textarea [(ngModel)]="address"></ion-textarea>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Items to Pickup</ion-label>
      <ion-textarea [(ngModel)]="items"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="submitOrder()">Submit Order</ion-button>
</ion-content>
