ion-header {
  ion-toolbar {
      --background: #1ecee5;
    color:#fff;
    text-align: center;
  }
}
ion-content {
  --background: #f4f4f4; /* Set background color */
}

ion-item {
  margin-bottom: 20px; /* Add margin bottom */
}

ion-button {
  margin-top: 20px;
    display: block;
    margin: 0 auto; 
    align-items: center;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 25px; 
}
.input {
  display: block;
  margin-bottom: 5px;
  font-size: 25px; 
}