<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/200w.gif" class="logo"></ion-img>
  <ion-item>
    <ion-label class="label" position="stacked"><ion-icon name="mail-outline"></ion-icon> Email Address</ion-label>
    <ion-input class="input" type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-button (click)="reset()">Send Reset Link</ion-button>
</ion-content>
