ion-header {
  ion-toolbar {
    --background: #6c5c58; 
    color:#fff;
  }
}
.card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  .icon {
    font-size: 48px;
    color: #fff; /* Icon color */
  }
  
  p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff; /* Text color */
  }
  
  .gradient-1 {
    background: linear-gradient(45deg, #7eddf2, #6cb8f8);
  }
  
  .gradient-2 {
    background: linear-gradient(45deg, #7eddf2, #6cb8f8);
  }
  
  .gradient-3 {
    background: linear-gradient(45deg, #7eddf2, #6cb8f8);
  }
  
  .gradient-4 {
    background: linear-gradient(45deg, #b2bec3, #dfe6e9);
  }
  
  .gradient-5 {
    background: linear-gradient(45deg, #b2bec3, #dfe6e9);
  }
  