<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-inventory"></ion-back-button>
    </ion-buttons>
    <h1 style="text-align: center; font-size: 32px; font-weight: bold; margin-bottom: 20px;">Generate Slip</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngFor="let order of products">
    <ion-card style="margin: 20px auto; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
      <ion-card-header style="background-color: #18e444; border-radius: 15px 15px 0 0;">
        <ion-card-title style="font-size: 24px; font-weight: bold; color: #333; padding: 10px 20px; margin: -20px -20px 0; background-color: #18e444; border-radius: 15px 15px 0 0;">
          <ion-icon name="bag" style="margin-right: 10px;"></ion-icon>{{ order.name }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content style="padding: 16px;">
        <p style="margin-bottom: 8px; font-size: 16px;">Bar Code: {{ order.barcode }}</p>
        <p style="margin-bottom: 8px; font-size: 16px;">Picker's Detail: {{ order.pickersDetails }}</p>
        <p style="margin-bottom: 8px; font-size: 16px;">Description: {{ order.description }}</p>
        <p style="margin-bottom: 8px; font-size: 16px;">Date of Pickup: {{ order.dateOfPickup }}</p>
        <p style="margin-bottom: 8px; font-size: 16px;">Time of Pickup: {{ order.timeOfPickup }}</p>
        <p style="margin-bottom: 8px; font-size: 16px;">Quantity: {{ order.quantity }}</p>
        <ion-button (click)="generatePDF(order)" expand="block" style="margin-top: 20px; --background: linear-gradient(to right, #18e444, #18e444); font-size: 18px; font-weight: bold;">Download Slip</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
