<ion-content [fullscreen]="true">
  <div class="welcome-container">
    <div class="header">
      <ion-img src="assets/logo.png" class="logo"></ion-img>
      <h1>Welcome to Our Learning Hub</h1>
    </div>
    <div class="description">
      <p>Embark on a journey of discovery and growth with us!</p>
    </div>
    <div class="animation-container">
      <ion-icon name="school-outline" class="school-icon"></ion-icon>
      <p>Where knowledge meets inspiration!</p>
    </div>
  </div>
</ion-content>
