.background-gradient {
  background: linear-gradient(to bottom right, #000000, #3822b6);
  padding: 20px;
  min-height: 100%;
}

.rounded-card {
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ion-card-header {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

ion-card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
}

ion-card-title ion-icon {
  margin-right: 8px;
  font-size: 24px;
}

ion-card-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (max-width: 767px) {
  ion-card {
    margin-bottom: 20px;
  }
}