<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventory"></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory Analytics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-gradient">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card class="rounded-card">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="basket"></ion-icon> STORE INVENTORY
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas id="quantityByCategoryChart"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card class="rounded-card">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="cube"></ion-icon> STOREROOM INVENTORY
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas id="quantityByCategoryStoreroomChart"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card class="rounded-card">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="stats-chart"></ion-icon> TOTAL CATEGORY COMPARISON
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas id="categoryComparisonChart"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="6">
          <ion-card class="rounded-card">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="bar-chart"></ion-icon> TOTAL PRODUCT QUANTITIES
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas id="totalQuantitiesChart"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="rounded-card">
            <ion-card-header>
              <ion-card-title>
                <ion-icon name="trophy"></ion-icon> BEST PERFORMING PRODUCT
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <canvas id="updateFrequencyChart"></canvas>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>