<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventory" ></ion-back-button>
    </ion-buttons>
    <ion-title>Add Inventory Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header class="title">
      Add Inventory Item
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input class="label" label="Item Name" label-placement="floating" type="text" fill="outline" placeholder="Item Name"  [(ngModel)]="itemName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="label" label="Barcode (Required)" label-placement="floating" type="text" fill="outline" placeholder="Barcode (Required)"  [(ngModel)]="barcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="label" label="Quantity" label-placement="floating" type="number" fill="outline" placeholder="Quantity"  [(ngModel)]="itemQuantity"></ion-input>
      </ion-item>  
      <ion-item>
        <ion-input class="label" label="Category" label-placement="floating" type="text" fill="outline" placeholder="Category"  [(ngModel)]="itemCategory"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-textarea class="label" label="Description" label-placement="floating" fill="outline" placeholder="Description"  [(ngModel)]="itemDescription"></ion-textarea>
      </ion-item>    
      <ion-item>
        <ion-input class="label" label="Picker's Details" label-placement="floating" type="text" fill="outline" placeholder="Picker's Details"  [(ngModel)]="pickersDetails"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="label" label="Date of Pickup" label-placement="floating" type="date" fill="outline" placeholder="Date of Pickup"  [(ngModel)]="dateOfPickup"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input class="label" label="Time of Pickup" label-placement="floating" type="time" fill="outline" placeholder="Time of Pickup"  [(ngModel)]="timeOfPickup"></ion-input>
      </ion-item>
      <div class="button-container">
        <ion-button expand="block" (click)="takePicture()">
          <ion-icon name="camera" slot="start"></ion-icon>
          Take Picture
        </ion-button>
        <ion-button expand="block" (click)="addItem()">Add Item</ion-button>
      </div>

      <ion-button expand="block" (click)="generateSlip()">DONE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
