ion-header {
    ion-toolbar {
      --background: #6c5c58; 
      color:#fff;
    }
  }
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px; 
  }
  .inputs{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
  }