<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inventory" ></ion-back-button>
    </ion-buttons>
    <ion-title>Update Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input class="label" label="Item Name" label-placement="floating" type="text" fill="outline" placeholder="Item Name"  [(ngModel)]="itemName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input class="label" label="Category" label-placement="floating" type="text" fill="outline" placeholder="Category"  [(ngModel)]="itemCategory"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-textarea class="label" label="Description" label-placement="floating" type="text" fill="outline" placeholder="Description"  [(ngModel)]="itemDescription"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input class="label" label="Quantity" label-placement="floating" type="number" fill="outline" placeholder="Quantity"  [(ngModel)]="itemQuantity"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <img class="thumbnail" src="{{newImage}}" alt="{{  itemName }} ">
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-button  expand="block" id="fileInput" color="medium" class="custom-file-input" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
      Take Picture
    </ion-button >


    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="updateItem()">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
